<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Логи приложения в Kafka в JSON -->
        <Kafka name="Kafka" topic="logs" syncSend="false">
            <JsonLayout
                    compact="true"
                    eventEol="true"
                    properties="true"
                    includeStacktrace="true"
                    includeTimeMillis="true"
            />
            <Property name="bootstrap.servers">localhost:9092</Property>
            <Property name="linger.ms">1000</Property>
        </Kafka>

        <!-- Логи Kafka клиента — в консоль, чтобы не было рекурсивного логирования -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Все логи приложения -->
        <Root level="info">
            <AppenderRef ref="Kafka"/>
        </Root>

        <!-- Логи клиента Kafka -->
        <Logger name="org.apache.kafka" level="INFO">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
