<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2 style="text-align:center;">Please Sign In</h2>-->

<!--<div style="text-align:center; margin-top:20px;">-->
<!--    <a th:href="@{/oauth2/authorization/keycloak}">-->
<!--        <button type="button">Login with Keycloak</button>-->
<!--    </a>-->
<!--</div>-->

<!--<div style="text-align:center;margin-top:20px;">-->
<!--    <span>Нет аккаунта? </span>-->
<!--    <a th:href="@{/signup}">Зарегистрироваться</a>-->
<!--</div>-->

<!--&lt;!&ndash; Сообщение об ошибке &ndash;&gt;-->
<!--<div style="color:red;text-align:center;margin-top:10px;" th:if="${param.error}">-->
<!--    Ошибка входа-->
<!--</div>-->

<!--&lt;!&ndash; Сообщение о выходе &ndash;&gt;-->
<!--<div style="color:green;text-align:center;margin-top:10px;" th:if="${param.logout}">-->
<!--    Вы вышли из системы-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
